body {
	margin: 5px 0;
	background: #F8F8F8;
}

textarea {
	resize: none;
}

.midstate {
	margin: 10px 0;
}

.aliright {
	text-align: right;
}

.progress {
	background: #FFF !important;
}

.addvertisement img{
	width: 100%;
}

.memcell {
	border: 1px solid #AAA;
	border-radius: 3px;
	padding: 0px;
}

.memcell img {
	border-radius: 3px;
	width: 100%;
}

.col-nomargin {
	margin: 0;
}