body {
	margin: 5px 0;
	background: #F8F8F8;
}

textarea {
	resize: none;
}

.media-left {
	vertical-align: middle;
}

#memer-form-output {
	width: 100%;
}

.media-object {
	max-width: 100px;
	width: 50px;
	border-radius: 50%;
}

.media-body {
	vertical-align: middle;
}

.media-body>h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.media-body>p {
	margin: 0;
	padding: 0;
}

.midstate {
	margin: 10px 0;
}

.aliright {
	text-align: right;
}

.progress {
	background: #FFF !important;
}

.addvertisement img{
	width: 100%;
}

.memcell {
	border: 1px solid #AAA;
	border-radius: 3px;
	padding: 0px;
}

.memcell img {
	border-radius: 3px;
	width: 100%;
}

.col-nomargin {
	margin: 0;
}